#body__contacto {
  background-image: $gradient-fondo;

  #section6 {
    margin-top: 7rem;

    .textoAyuda {
      @extend %flex-column-center;
      text-align: center;

      gap: 0.8rem;
      font-size: 1.5rem;

      & h3 {
        font-size: 2rem;
      }

      & i {
        font-size: 2.5rem;
      }
    }

    form {
      padding: 2rem;
    }
  }
}
